<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Edit User</h1>
      <%= form_for (@user) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explained">
            <h4>
              <%= pluralize(@user.errors.count, "error") %>
               prevented the user from being updated
            </h4>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.text_field :name, placeholder: "Name",
            class: "form-control" %><br />
        <%= f.text_field :email, placeholder: "Email", 
            class: "form-control" %><br />
        <%= f.text_area :message, placeholder: "Default email message",
            class: "form-control" %><br />
        <%= f.submit class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
