<tr> 
  <td><%= link_to bill.bill_date, bill, id: "bill-#{bill.id}" %></td>
  <td><%= bill.total_data %> GB</td>
  <td><%= number_to_currency(bill.bill_amount) %></td>
  <td id="bill-balance-<%= bill.id %>">
    <%= number_to_currency(bill_balance(bill.charges)) %>
  </td>
</tr>