<% # bills/edit %>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Edit Bill</h1>
      <%= form_for @bill do |f| %>
      <%= render "shared/form_errors", item: @bill %>
        <div class="form-group">
          <%= f.label "Date from Bill:" %>
          <%= f.date_select(:date, discard_day: true) %>
        </div>
        <div class="form-group">
          <%= f.label "Total amount of Bill:" %>
          <%= f.text_field :amount, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "Total amount of Data used:" %>
          <%= f.text_field :total_data, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "Total cost for Data:" %>
          <%= f.text_field :data_cost, class: "form-control" %>
        </div>
        <%= f.submit "Update Bill", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>