<% if account_signed_in? %>
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <h1 class="text-center">Bills Dashboard</h1>
              <% if @bills.present? %>
                <%= bill_total_by_month %>
              <% end %>
              <%= link_to "New Bill", new_bill_url, class: "btn btn-primary" %>
              <% if @bills.present? %>
                <table class="table table-striped">
                  <thead>
                   <tr class="text-center">
                     <th>Date</th>
                     <th>Data Used</th>
                     <th>Bill Total</th>
                     <th>Balance</th>
                   </tr>
                  </thead>
                  <tbody>
                   <%= render @bills %>
                  </tbody>
                </table>
                <%= paginate @bills %>
              <% else %>
                <p><br>You haven't created any bills yet.</p>
              <% end %>
              <% unless @users.present? %>
                <br>
                <p>Get started by adding your plan members on the Users tab at the top.</p>
              <% end %>
          </div>
      </div>
  </div>
<% else %>
  <div class="container">
      <div class="row">
        <div class="jumbotron">
          <h1 class="text-center">BillShare</h1>
          <h3 class="text-center">The easy way to split your phone bill</h3>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <h3 class="text-center">How easy?</h3>
          <ol>
            <li>Add your plan members.</li>
            <li>Fill in a few details from your bill.</li>
            <li>Send a personalized email to each of your members with their 
                share of the bill.</li>
            <li>Track who's paid and who still owes you.</li>
            <li>Review your history as beautiful graphs.</li>
          </ol>
          <br/>
          <%= link_to "Get Started", new_account_registration_url, class: "btn btn-primary center-block" %>
          <br/>
          <p class="text-center">Already have an account?</p>
          <%= link_to "Sign In", new_account_session_url, class: "btn btn-primary center-block" %>
        </div>
      </div>
    </div>
<% end %>