<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">New Bill</h1>
      <%= form_for :bill do |f| %>
        <div class="form-group">
          <%= f.select :month, ['January', 'February', 'March', 'April', 'May', 
          'June', 'July', 'August', 'September', 'October', 'November',
          'December'] %>
        </div>
        <%= f.text_field :bill_amount, placeholder: "Total amount of Bill",
            class: "form-control" %><br />
        <%= f.text_field :total_data, placeholder: "Total amount of Data used", 
            class: "form-control" %><br />
        <%= f.text_field :data_cost, placeholder: "Total cost for Data",
            class: "form-control" %><br />
        <%= f.text_field :data_overage, placeholder: "Amount of data overage",
            class: "form-control" %><br />
        <%= f.submit class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>