<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-center"><%= @bill.date.strftime("%B %Y") %> Bill</h1>
      <%= link_to "Edit Bill Header", edit_bill_url(params[:id]), 
          class: "btn btn-primary" %>
      <%= link_to "Delete Bill", bill_path(params[:id]), method: :delete, 
          class: "btn btn-danger pull-right", 
          data: { confirm: "Delete this Bill?" } %>
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>Date</th>
            <th>Data Used</th>
            <th>Data Fee</th>
            <th>Bill Total</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @bill.date.strftime("%B %Y") %></td>
            <td><%= @bill.total_data %> GB</td>
            <td><%= number_to_currency(@bill.data_cost) %></td>
            <td><%= number_to_currency(@bill.amount) %></td>
            <td id="bill-balance">
              <%= number_to_currency(@bill.balance) %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= link_to "Add User Charge", new_bill_charge_url(params[:id]), class: "btn btn-primary" %>
      <br><br>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>User</th>
            <th>Data Used</th>
            <th>% of Data</th>
            <th>Data Fee</th>
            <th>Surcharges</th>
            <th>User Total</th>
            <th>Status</th>
            <th class="text-center">Edit</th>
          </tr>
        </thead>
        <tbody>
          <%= render @charges, selector: "long" %>
          <tr>
            <th>Totals</th>
            <td class=<%= get_class(@bill.data_subtotal, @bill.total_data) %>>
              <%= @bill.data_subtotal %> GB
            </td>
            <td class=<%= get_class(@bill.percent_total, 100.0) %>>
              <%= @bill.percent_total %>%
            </td>
            <td class=<%= get_class(@bill.data_share_total, @bill.data_cost)%>>
              <%= number_to_currency(@bill.data_share_total) %>
            </td>
            <td class=<%= get_class(@bill.surcharges_total, @bill.amount - @bill.data_cost) %>>
              <%= number_to_currency(@bill.surcharges_total) %>
            </td>
            <td class=<%= get_class(@bill.subtotal, @bill.amount) %>>
              <%= number_to_currency(@bill.subtotal) %></td>
            <td class="text-center">-</td>
          </tr>
        </tbody>
      </table>
      <%= link_to "Send Bill", send_bill_url, class: "btn btn-primary pull-right", 
        data: { confirm: "Ready to send?" } %>
    </div>
  </div>
</div>