<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center">Bill Creator</h1>
      <%= link_to "Edit Bill Header", edit_bill_url(params[:id]), 
          class: "btn btn-primary" %>
      <%= link_to "Delete Bill", bill_path(params[:id]), method: :delete, 
          class: "btn btn-danger pull-right", 
          data: { confirm: "Delete this Bill?" } %>
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>Date</th>
            <th>Data Used</th>
            <th>Data Fee</th>
            <th>Bill Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @bill.bill_date %></td>
            <td><%= @bill.total_data %> GB</td>
            <td><%= number_to_currency(@bill.data_cost) %></td>
            <td><%= number_to_currency(@bill.bill_amount) %></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "Add User Charge", new_bill_charge_url(params[:id]), class: "btn btn-primary" %>
      <br><br>
      <table class="table table-bordered table-striped">
        <thead>
          <tr class="text-center">
            <th>User</th>
            <th>Data Used</th>
            <th>% of Data</th>
            <th>Data Fee</th>
            <th>Surcharges</th>
            <th>User Total</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <%= render @charges, selector: "long" %>
          <tr>
            <th>Totals</th>
            <td class=<%= get_class(data_subtotal(@charges), @bill.total_data) %>>
              <%= data_subtotal(@charges) %> GB
            </td>
            <td class=<%= get_class(percent_total(@charges), 100.0) %>>
              <%= percent_total(@charges) %>%
            </td>
            <td class=<%= get_class(data_share_total(@charges), @bill.data_cost)%>>
              <%= number_to_currency(data_share_total(@charges)) %>
            </td>
            <td><%= number_to_currency(surcharges_total(@charges)) %></td>
            <td class=<%= get_class(bill_subtotal(@charges), @bill.bill_amount) %>><%= number_to_currency(bill_subtotal(@charges)) %></td>
            <td class="text-center">-</td>
          </tr>
        </tbody>
      </table>
      <table class='table borderless'>
        <thead>
          <tr>
            <th class="pull-right">Balance</th>
            <th class="pull-left">
              <%= link_to "Send Bill", send_bill_url, 
                class: "btn btn-primary", 
                data: { confirm: "Ready to send?" } %>
            </td>
          </tr>
          </thead>
          <tbody>
            <td class="pull-right", id="bill-balance" >
              <%= number_to_currency(bill_balance(@charges)) %>
            </td>
          </tbody>
      </table>
    </div>
  </div>
</div>