<tr>
  <% if selector == "short" %>
    <td><%= link_to Bill.find(charge.bill_id).bill_date, Bill.find(charge.bill_id) %></td>
    <td><%= charge.data_used %> GB</td>
    <td><%= number_to_currency(charge.personal_total) %></td>
    <td><%= paid_boolean(charge) %></td>
  <% else %>
    <td><%= link_to User.find(charge.user_id).name, edit_bill_charge_url(bill_id: params[:id], id: charge.id) %></td>
    <td><%= charge.data_used %> GB</td>
    <td><%= charge.data_percentage * 100 %>%</td>
    <td><%= number_to_currency(charge.data_share) %></td>
    <td><%= number_to_currency(charge.surcharges) %></td>
    <td><%= number_to_currency(charge.personal_total) %></td>
    <td><%= link_to paid_boolean(charge), 
      bill_charge_path(charge: { :paid => !charge.paid }, bill_id: charge.bill_id, id: charge.id ), 
      method: :patch %></td>
  <% end %>
</tr>