<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
        <%= link_to root_path_url, class:"navbar-brand" do %>
        <b><i>BillShare</i></b> <% end %>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if account_signed_in? %>
        <ul class="nav navbar-nav">
          <li><%= link_to users_url do %>
            <span class="glyphicon glyphicon-user"></span> Users
            <% end %>
          </li>
        </ul>
      <% end %>
      
      <ul class="nav navbar-nav navbar-right">
        <% if account_signed_in? %>
          <li><%= link_to edit_account_registration_url do %>
            <span class="glyphicon glyphicon-cog"></span> Settings</li>
            <% end %>
          <li><%= link_to destroy_account_session_path, method: :delete do %>
            <span class="glyphicon glyphicon-log-out"></span> Logout</li>
            <% end %>
        <% else %>
          <li><%= link_to "Register", new_account_registration_url %></li>
          <li><%= link_to "Login", new_account_session_url %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>